:root {
  --bg-main: #f4f7f6;
  --text-header: #5c59a7;
  --card-border: #e0e0e0;

  --gender-fem: #5c59a7;
  --gender-masc: #00c1f3;
  --gender-none: #9e9e9e;
}

body {
    background-color: #f2edf3;
}

/* HEADER BAR */

.app-header-bar {
    background: #0033ff;
    background: linear-gradient(90deg,rgba(0, 51, 255, 1) 0%, rgba(255, 229, 0, 1) 100%);
    color: #fff;
    margin: 0;
    padding: 1rem;
}

/* HEADER BAR BAR */

.app-header {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
}

.app-header img {
    max-height: 5rem;
    flex: 1
}

.app-header h1 {
    flex: 3;
    color: var(--text-header);
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px 0;
}

/* INFO  */

.app-info {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin: 2rem;
}

.app-info-card {
    color: white;
    /*background-color: var(--color-total); */
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.app-info-card h2 {
    font-size: 2.5rem;
    margin: 0;
}

.app-info-card h4 {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: 5px 0 0 0;
}

/* MAIN  */

.app-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 2rem;
}

.app-main-card {
    background: white;
    border: 1px solid var(--card-border);
    border-radius: 4px;
    overflow: hidden;
}

.app-main-card-title {
    padding: 10px 15px;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;;
    background-color: #4da6d1;
}

.app-main-card-body {
    padding: 20px;
    min-height: 300px;
}

/* TABLE */

.app-table {
    margin: 2rem;
    background: white;
    border: 1px solid var(--card-border);
    border-radius: 4px;
    overflow: hidden;
}

.app-table-title {
    padding: 10px 15px;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;;
    background-color: #4da6d1;
}

.app-table-main {
    padding: 20px;
    min-height: 300px;
}
